@tailwind base;
@tailwind components;
@tailwind utilities;

.page-break {
  page-break-before: always;
}

@media print {
  @page {
    size: A4;
    margin: 1.5cm;
  }

  body * {
    visibility: hidden;
  }

  .print-only-view, .print-only-view * {
    visibility: visible !important;
  }

  .print-only-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .print-container {
    max-width: 100%;
    padding: 0;
  }
}
